<h2>More information about {{model.rental.owner}}'s {{model.rental.type}}</h2>

{{rental-detail rental=model.rental destroyRental="destroyRental"}}

{{update-rental rental=model.rental cities=model.cities update="update"}}
